@import "tailwindcss";

@theme {
  --font-display: var(--font-barlow);
  --font-body: var(--font-dm-sans);
}

:root {
  --bg: #0a0a0a;
  --surface: #111;
  --border: #1e1e1e;
  --accent: #b31b1b;
  --accent-dim: #b31b1b1f;
  --text-1: #fff;
  --text-2: #888;
  --text-3: #3a3a3a;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--bg);
}

body {
  background: var(--bg);
  color: var(--text-1);
  margin: 0;
}
