@import "tailwindcss";

@theme {
  --font-display: var(--font-barlow);
  --font-body: var(--font-dm-sans);
  --font-mono: var(--font-jetbrains);
}

:root {
  --bg: #0d0b0a;
  --surface: #14100e;
  --border: #241d18;
  --accent: #d4622a;
  --accent-dim: #d4622a24;
  --text-1: #fff;
  --text-2: #8a827c;
  --text-3: #3a332e;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--bg);
}

body {
  background: var(--bg);
  color: var(--text-1);
  margin: 0;
}
